{
  "REMO_ACCESS_TOKEN": "YOUR_REMO_ACCESS_TOKEN_HERE",
  "CLIENT_ID": "YOUR_TESLA_CLIENT_ID_HERE",
  "CLIENT_SECRET": "YOUR_TESLA_CLIENT_SECRET_HERE",
  "DOMAIN": "localhost:8000",
  "MIN_AMPS": 3,
  "MAX_AMPS": 48,
  "CONTROL_PORT": 8090,
  "CONTROL_TOKEN": "YOUR_RANDOM_CONTROL_TOKEN_HERE"
}