{
  "NATURE_REMO_API_TOKEN": "YOUR_REMO_TOKEN_HERE",
  "TESLA_CLIENT_ID": "YOUR_TESLA_CLIENT_ID_HERE",
  "TESLA_VEHICLE_VIN": "YOUR_VEHICLE_VIN_HERE",
  "PROXY_HOST": "https://localhost:4443",
  "MIN_AMPS": 5,
  "MAX_AMPS": 10
}